<h1>Simple Ecommerce Web App</h1>
<h2>Simplifica tu tienda en linea</h2>
<img src="images/ecommerce2.jpeg" alt="ecommerce">
<form action="/hook" method="post">
    <label for="txtEmail">
        Reserva tu lugar para ser de los primeros en usarlo cuando lo liberemos
    </label>
    <input type="email" value="" placeholder="tucorre@electronico.nico" name="txtEmail" id="txtEmail">
    <br/>
    <button type="submit" name="txtAdd">Quiero Participar</button>
</form>